.validate-code-btn {
  background: #409efe;
  outline: 0;
  font-size: 12px;
  color: #fff;
  border-radius: 5px;
  line-height: 34px;
  min-width: 88px;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid transparent;
  margin-left: 10px;

  &:active {
    opacity: 0.7;
  }

  &:disabled {
    opacity: 0.7;
  }
}
