.custom-popup {
  max-height: 86vh;
  width: 90%;
  border-radius: 10px;

  .popup-wrap {
    padding: 10px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }

  .close-icon {
    position: absolute;
    right: 0px;
    top: -35px;
    width: 25px;
    height: 25px;
  }
}