/* 全局通用样式 */

.wrapper {
	width: 100%;
	min-height: 100vh;
	padding-bottom: 10px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100% 100%;
}

.wrapper img {
	vertical-align: top
}

.cursor-pointer {
	cursor: pointer;
}

.col-6 {
	width: 50%;
}

.col-12 {
	width: 100%;
}
.fade-enter-active, .fade-leave-active, .slide-left-enter-active, .slide-left-leave-active, .slide-right-enter-active, .slide-right-leave-active {
	transition: 0.3s;
}

.fade-enter, .fade-leave-active {
	opacity: 0;
}

/* 重置cube-ui样式 */
.cube-popup{
  z-index: 1300 !important;
}
/* 重置cube-ui样式 end*/

/*  动画类 */
@keyframes marquee-up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}