/* 全局通用样式 */

.wrapper {
	width: 100%;
	min-height: 100vh;
	padding-bottom: 10px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100% 100%;
}

.wrapper img {
	vertical-align: top
}

.cursor-pointer {
	cursor: pointer;
}

.col-6 {
	width: 50%;
}

.col-12 {
	width: 100%;
}
.fade-enter-active, .fade-leave-active, .slide-left-enter-active, .slide-left-leave-active, .slide-right-enter-active, .slide-right-leave-active {
	transition: 0.3s;
}

.fade-enter, .fade-leave-active {
	opacity: 0;
}

/* 重置cube-ui样式 */
.cube-popup{
  z-index: 1300 !important;
}
/* 重置cube-ui样式 end*/

/*  动画类 */

.animte-streak {
	position: relative;
	overflow: hidden;
}

.animte-streak .animte-el {
	position: absolute;
	left: 0;
	opacity: 0;
	height: 150%;
	box-shadow: 0 0 35px 10px rgb(255, 255, 255);
	transform: rotate(20deg);
}
@keyframes marquee-up {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-50%);
	}
}

@keyframes marquee-left {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-50%);
	}
}

@keyframes animte-breathlamp {
	0%, 50%, to {
		transform: scale(0.8);
	}

	25%, 75% {
		transform: scale(1);
	}
}

@keyframes animte-fade {
	0%, 50%, to {
		opacity: 1;
	}

	25%, 75% {
		opacity: 0.5;
	}
}

@keyframes animte-flash {
	0%, 50%, to {
		opacity: 1;
	}

	25%, 75% {
		opacity: 0;
	}
}

@keyframes animte-streak {
	0%, 30% {
		left: 0%;
		opacity: 0;
	}

	40% {
		left: 10%;
		opacity: 0.2;
	}

	60% {
		left: 50%;
		opacity: 1;
	}

	80% {
		left: 80%;
		opacity: 1;
	}

	95% {
		left: 92%;
		opacity: 0.2;
	}

	100% {
		left: 100%;
		opacity: 0;
	}
}